@import url('fonts/font-awesome.min.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #405060;
} 

html,
body,
#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}